# img
*.png

# jupyter
debug.ipynb
.ipynb_checkpoints

# VSCode
.vscode

# private data
accounts.ini

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
pip-log.txt
pip-delete-this-directory.txt

# PyInstaller
build/
dist/
*.spec.bak
*.spec~
*.manifest
元智選課機器人.exe
